* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101214;
}

p {
  color: #838383;
}

ul li,
ol li {
  list-style: none;
}

/* :: 4.0 Header Area CSS */
.header-area {
  width: 100%;;
  position: fixed;
  z-index: 1000;
}




/* :: 3.8.0 Fitness Button */
.fitness-btn {
  position: relative;
  z-index: 9;
  display: inline-block;
  min-width: 200px;
  height: 45px;
  color: #38b143;
  border-radius: 10px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border: 3px solid #38b143;
}

.fitness-btn:hover,
.fitness-btn:focus {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #38b143;
}

.fitness-btn.btn-2 {
  background-color: #38b143;
  color: #ffffff;
}

.fitness-btn.btn-2:hover,
.fitness-btn.btn-2:focus {
  color: #ffffff;
  background-color: #101214;
  border-color: #101214;
}

.fitness-btn.btn-3 {
  background: #b6e358;
  background: -webkit-gradient(linear, left top, right top, from(#b6e358), to(#38b143));
  background: linear-gradient(to right, #b6e358, #38b143);
  color: #101214;
  border: none;
  line-height: 45px;
}

.fitness-btn.btn-3.active,
.fitness-btn.btn-3:hover,
.fitness-btn.btn-3:focus {
  color: #ffffff;
}

.fitness-btn {
  color: #101214;
  font-weight: 700;
  background: #b6e358;
  background: -webkit-gradient(linear, left top, right top, from(#b6e358), to(#38b143));
  background: linear-gradient(to right, #b6e358, #38b143);
  border: none;
  line-height: 45px;
}

.fitness-btn:hover,
.fitness-btn:focus {
  color: #ffffff;
  font-weight: 700;
}

.fitness-btn.btn-white {
  background-color: #ffffff;
}

.fitness-btn.btn-white:hover,
.fitness-btn.btn-white:focus {
  color: #ffffff;
  background-color: #38b143;
  border-color: #38b143;
}

/* :: 3.7.0 ScrollUp */
#scrollUp {
  background: #b6e358;
  background: -webkit-gradient(linear, left top, right top, from(#b6e358), to(#38b143));
  background: linear-gradient(to right, #b6e358, #38b143);
  border-radius: 0;
  bottom: 130px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  right: 30px;
  text-align: center;
  width: 40px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

#scrollUp:hover {
  background-color: #141414;
}

.classycloseIcon .cross-wrap span {
  background: #ffffff;
}

/* :: 6.0 About Us CSS */
.single-add-area img {
  width: 100%;
}

.about-us-area {
  position: relative;
  margin-bottom: -50px;
  z-index: 100;
}

.about-thumb {
  position: relative;
  margin-top: -50px;
}

/* :: 9.0 Price Table Area CSS */
.single-price-table {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

.single-price-table .price-table-content {
  padding: 40px;
}

.single-price-table .price-table-content .price {
  font-size: 36px;
  font-weight: 600;
  color: #38b143;
  line-height: 1;
}

.single-price-table .price-table-content .price span {
  font-size: 14px;
  font-style: italic;
  color: #838383;
  font-weight: 400;
}

.single-price-table .price-table-content h5 {
  font-size: 22px;
  margin: 30px 0;
  font-weight: 600;
}

.single-price-table .price-table-content .price-data li {
  color: #838383;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.single-price-table .price-table-content .price-data li:last-child {
  margin-bottom: 0;
}

.single-price-table .price-table-content .price-data li i {
  color: #38b143;
  font-size: 8px;
  margin-right: 15px;
}

.service-page .single-price-table {
  background-color: #f0f2f8;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border: 3px solid transparent;
}

.service-page .single-price-table .price-table-content h5 {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}

.service-page .single-price-table:hover,
.service-page .single-price-table:focus {
  border: 3px solid #38b143;
  -webkit-box-shadow: 0 5px 70px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 70px rgba(0, 0, 0, 0.2);
}

/* :: 11.0 Footer Area CSS */
.main-footer-area .footer-widget-area .widget-title h6 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
}

.main-footer-area .footer-widget-area p {
  color: #bebebe;
  font-weight: 600;
}

.main-footer-area .footer-widget-area .footer-social-info a {
  display: inline-block;
  color: #ffffff;
}

.main-footer-area .footer-widget-area .footer-social-info a:hover,
.main-footer-area .footer-widget-area .footer-social-info a:focus {
  color: #38b143;
}

.main-footer-area .testimonials-slides {
  position: relative;
  z-index: 1;
}

.main-footer-area .testimonials-slides .single-testimonial {
  margin-bottom: 50px;
}

.main-footer-area .testimonials-slides .single-testimonial:last-child {
  margin-bottom: 0;
}

.main-footer-area
.footer-widget-area
.testimonials-slides
.single-testimonial
p {
  font-size: 13px;
  font-style: italic;
  color: #bebebe;
}

.main-footer-area
.footer-widget-area
.testimonials-slides
.single-testimonial
span {
  font-weight: 600;
  font-size: 13px;
  color: #38b143;
}

.main-footer-area .fitness-classes {
  position: relative;
  z-index: 1;
}

.main-footer-area .footer-widget-area .fitness-classes li a {
  display: block;
  color: #bebebe;
  font-size: 14px;
  font-weight: 400;
}

.main-footer-area .footer-widget-area .fitness-classes li a:hover,
.main-footer-area .footer-widget-area .fitness-classes li a:focus {
  color: #38b143;
}

.main-footer-area .footer-widget-area .fitness-classes li:last-child a {
  margin-bottom: 0;
}

.main-footer-area .footer-widget-area .single-contact span {
  color: #38b143;
  font-size: 14px;
  text-decoration: underline;
  display: block;
}

.main-footer-area .footer-widget-area .single-contact p {
  color: #bebebe;
  font-weight: 400;
}

.bottom-footer-area {
  text-align: center;
}

.bottom-footer-area p {
  font-size: 12px;
  margin-bottom: 0;
  color: #5c6077;
  font-weight: 600;
}

.bottom-footer-area p a {
  color: #5c6077;
  font-size: 12px;
  font-weight: 600;
}

.bottom-footer-area p a:hover,
.bottom-footer-area p a:focus {
  color: #38b143;
}



.hero {
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

textarea:focus,
input:focus,
input[type]:focus,
.form-control:focus {
  border-color: #06a11b;
  -webkit-box-shadow: 0 1px 1px rgba(6, 161, 27, 0.075) inset, 0 0 8px rgba(6, 161, 27, 0.6);
          box-shadow: 0 1px 1px rgba(6, 161, 27, 0.075) inset, 0 0 8px rgba(6, 161, 27, 0.6);
  outline: 0 none;
}

.form-control {
  background-color: #eef3f6;
  font-size: 12px;
  border-radius: 0;
}

.card-img-top {
  height: 200px;
}

@media only screen and (max-width: 767px) {
  .section-heading h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .mfp-image-holder .mfp-close,
  .mfp-iframe-holder .mfp-close {
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fitness-btn.menu-btn {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .fitness-btn.menu-btn {
    margin-top: 30px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breakpoint-on .classy-menu {
    background-color: #101214;
  }
}

@media only screen and (max-width: 767px) {
  .breakpoint-on .classy-menu {
    background-color: #101214;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .megamenu .single-mega.cn-col-4 {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
   .megamenu .single-mega.cn-col-4 {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-thumb {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .about-thumb {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about--thumb {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .about--thumb {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .about-btn-group .fitness-btn {
    margin: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-us-area {
    padding-bottom: 100px;
  }
} 

@media (min-width: 310px) and (max-width: 1020px) {
  .about-thumb{
    display: none;
  }
  #about{
    margin-bottom: 40px;
  }
  .price-table-content{
    padding-top: 30px;
  }
  .nav{
    display:block;
  }
} 

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #b6e358;
  background: -webkit-gradient(linear, left top, right top, from(#b6e358), to(#38b143));
  background: linear-gradient(to right, #b6e358, #38b143);
  color: #101214;
 
}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
  color: grey;
}

.navbar-dark .navbar-nav .nav-link.active{
  color: #101214;
}
